body{
  background-image: url(assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.clock-container{

}

.clock{

}